  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ViziOON</a>
        </div>
        <div  class="collapse navbar-collapse">
          <ul id="menu" class="nav navbar-nav">
            <li><a class="menu menu_dashboardmedia"  rel="dashboardmedia">Home</a></li>
            <li><a class="menu menu_media" rel="media">Media</a></li>
            <li><a class="menu menu_video1" rel="video1">Video</a></li>
            <li><a class="menu menu_music" rel="music">Music</a></li> 
          </ul>
          <ul class="nav navbar-right navbar-nav">
          	<li class="musicName">
          		
          	</li>
          	<li>
          		
          		<div id="musicPlayer">
          			
   
          				
          			</div><div class="musicTag">
          				
          			</div>
          				</li>
          </ul>
          			
          			</div>
          
        </div><!--/.nav-collapse -->
      </div>

 