<div class="container">
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="uploads/2048.png" alt="kép alt" title="kép neve">
    </a>
  </div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img src="uploads/image.jpg" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
    </a>
  </div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
    </a>
  </div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
    </a>
  </div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
    </a>
  </div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
    </a>
  </div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
    </a>
  </div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
	<div class="col-xs-6 col-md-3">
	  <a href="#" class="thumbnail">
	    <img data-src="holder.js/100%x180" alt="kép alt" title="kép neve">
	  </a>
	</div>
</div>
</div>